#main_body {
    background-color: #1f2121;
}

#main_header {
    background-color: #262828;
    border: 1px solid transparent;
    border-bottom: 1px solid gray;
    margin-top: 15px;
    padding: 5px;
    margin-bottom: 10px;
}
#main_header #heading_ {
    font-size: 28px;
    font-weight: bold;
    font-family: Arial;
    color: white;
}
#main_header #logout_btn {
    background-color: #e65348;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    font-family: Arial;
}
#main_header #logout_btn:hover {
    background-color: #cd3a31;
}

#tool_bar{
    border: 1px solid transparent;
    border-bottom: 1px solid gray;
    padding: 0px;
}
#tool_bar QToolButton {
    color: gray;
    font-size: 16px;
    padding: 10px;
    border: 2px solid transparent;
}
#tool_bar QToolButton:hover{
    background: #2c2e2e;
    color: white;
}
#tool_bar QToolButton:checked{
    color: #32b8c6;
    border-bottom: 2px solid #32b8c6;
}
#tool_bar QToolButton:pressed{ }

#contentArea { }

