QScrollBar:vertical,
QScrollBar:horizontal {
    background-color: #949494;
    width: 6px;
}
QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
    background-color: #6b6b6b;
}
QScrollBar:horizontal {
    height: 6px;
}

#attendance_page_body {
    background-color: #1f2121;
}

#attendance_page_body #record_table_area {
    border: 1px solid gray;
    background-color: #262828;
    border-radius: 10px;
}

#attendance_page_body #record_table_area #header_ {
    color: white;
}

#attendance_page_body #record_table_area #filters_area {
    border: 1px solid transparent;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
#attendance_page_body #record_table_area #filters_area QGroupBox{
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 8px;
}
#attendance_page_body #record_table_area #filters_area QGroupBox::title{
    color: white;
    subcontrol-origin: margin;
    subcontrol-position: top left; /* or top center / top right */
    position: relative;
    left: 5px;
}

#attendance_page_body #record_table_area #filters_area  #cls_n_sec_select,
#attendance_page_body #record_table_area #filters_area QComboBox {
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}
#attendance_page_body #record_table_area #filters_area QComboBox QAbstractItemView  {
    background-color: #262828;
    color: white;
}
#attendance_page_body #record_table_area #filters_area #show_all_opt{
    color: white;
    font-size: 16px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

#attendance_page_body #record_table_area #filters_area #upto_days {
    border: 1px solid gray;
    border-radius: 5px;
}
#attendance_page_body #record_table_area #filters_area #upto_days QLabel {
    font-size: 16px;
    color: white;
}
#attendance_page_body #record_table_area #filters_area #upto_days QSlider::groove:horizontal{
    border-radius: 5px;
    height: 10px;
    background-color: gray;
}
#attendance_page_body #record_table_area #filters_area #upto_days QSlider::handle:horizontal {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: #007ad9;
}
#attendance_page_body #record_table_area #filters_area #apply_filter_btn {
    background-color: #323434;
    border: 1px solid gray;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}
#attendance_page_body #record_table_area #filters_area #apply_filter_btn::pressed {
    border: 1px solid cyan;
}
#attendance_page_body #record_table_area #lbl_no_result{
    color: white;
    font-family: Arial;
}


#attendance_page_body #record_table_area #table_{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid gray;
    border: 0;
    font-size: 16px;
    font-weight: 500;
}
#attendance_page_body #record_table_area #table_::item{
    color: white;
    border-bottom: 1px solid gray;
    border-right: none;
    border-left: none;
    border-top: none;
}
#attendance_page_body #record_table_area #table_::item:selected {
    background-color: #525252;
}

#attendance_page_body #record_table_area #table_ QHeaderView {
    background-color: transparent;
}
#attendance_page_body #record_table_area #table_ QHeaderView::section:first {
    border-top-left-radius: 10px;
    border-left: 1px solid transparent;
}
#attendance_page_body #record_table_area #table_ QHeaderView::section:last {
    border-top-right-radius: 10px;
    border-right: 1px solid transparent;
}
#attendance_page_body #record_table_area #table_ QHeaderView::section {
    border: 1px solid transparent;
    border-right: 1px solid gray;
    background-color: #3b2e23;
    color: white;
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#attendance_page_body #record_table_area #table_ QHeaderView::up-arrow {
    image: url(icons/arrow_drop_down.svg);
    subcontrol-position: right center;
    subcontrol-origin: padding;
    padding-right: 6px;
    width: 20px;
    height: 20px;
}
#attendance_page_body #record_table_area #table_ QHeaderView::down-arrow {
    image: url(icons/arrow_drop_up.svg);
    subcontrol-position: right center;
    subcontrol-origin: padding;
    padding-right: 6px;
    width: 20px;
    height: 20px;
}