QScrollBar:vertical,
QScrollBar:horizontal {
    background-color: #949494;
    width: 6px;
}
QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
    background-color: #6b6b6b;
}
QScrollBar:horizontal {
    height: 6px;
}

#auto_attendance_body {
    background-color: #1f2121;
}

#auto_attendance_body #content_area {
    background-color: #262828;
    border: 1px solid gray;
    border-radius: 10px;
}

#auto_attendance_body #content_area #title_ {
    color: white;
    margin: 10px;
}

#auto_attendance_body #content_area #cam_preview{
    border: 1px solid gray;
    border-radius: 5px;
}

#auto_attendance_body #content_area #log_area {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#auto_attendance_body #content_area #log_area QLabel {
    font-size: 16px;
    font-family: Arial;
    color: white;
}

#auto_attendance_body #content_area #btn {
    background-color: #32b8c6;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 10px;
}
#auto_attendance_body #content_area #btn[ui="red"] {
    background-color: #e65348;
}
#auto_attendance_body #content_area #btn:hover {
    background-color: #2da6b2;
}
#auto_attendance_body #content_area #btn[ui="red"]:hover {
    background-color: #cd3a31;
}

#auto_attendance_body #content_area #admin_login {
    font-size: 16px;
    color: #2da6b2;
    background-color: transparent;
    border: 0px;
}
#auto_attendance_body #content_area #admin_login:hover {
    color: #2c9ea9;
}

#auto_attendance_body #table_holder #lbl_table_title {
    color: white;
    margin: 5px;
    font-family: Arial;
}
#auto_attendance_body #table_holder #table_{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid gray;
    border: 0;
    font-size: 16px;
    font-weight: 500;
}
#auto_attendance_body #table_holder #table_::item{
    color: white;
    border-bottom: 1px solid gray;
    border-right: none;
    border-left: none;
    border-top: none;
}
#auto_attendance_body #table_holder #table_::item:selected {
    background-color: #525252;
}

#auto_attendance_body #table_holder #table_ QHeaderView {
    background-color: transparent;
}
#auto_attendance_body #table_holder #table_ QHeaderView::section:first {
    border-top-left-radius: 10px;
    border-left: 1px solid transparent;
}
#auto_attendance_body #table_holder #table_ QHeaderView::section:last {
    border-top-right-radius: 10px;
    border-right: 1px solid transparent;
}
#auto_attendance_body #table_holder #table_ QHeaderView::section {
    border: 1px solid transparent;
    border-right: 1px solid gray;
    background-color: #3b2e23;
    color: white;
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#auto_attendance_body #table_holder #table_ QHeaderView::up-arrow {
    image: url(icons/arrow_drop_down.svg);
    subcontrol-position: right center;
    subcontrol-origin: padding;
    padding-right: 6px;
    width: 20px;
    height: 20px;
}
#auto_attendance_body #table_holder #table_ QHeaderView::down-arrow {
    image: url(icons/arrow_drop_up.svg);
    subcontrol-position: right center;
    subcontrol-origin: padding;
    padding-right: 6px;
    width: 20px;
    height: 20px;
}
