QScrollBar:vertical {
    background-color: #949494;
    width: 6px;
}
QScrollBar::handle:vertical {
    background-color: #6b6b6b;
}
QScrollBar:horizontal {
    background-color: #949494;
    height: 6px;
}
QScrollBar::handle:horizontal {
    background-color: #6b6b6b;
}

#classNsec_body {
    background-color: #1f2121;
}
#bi_area:handle{
    background-color: transparent;
}

#class_list {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #262828;
}
#class_list #class_list_heading {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    border: 1px solid transparent;
    border-bottom: 1px solid gray;
}
#class_list #list_scrollable {
    background-color: transparent;
    border: 0;
}


#class_list #list_scrollable #list_holder {
    background-color: transparent;
}

#class_element {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #262828;
    margin-right: 5px;
}
#class_element #class_label{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial;
    color: white;
}
#class_element #hidden_element {
    border: 1px solid transparent;
    border-top: 1px solid gray;
}
#class_element #hidden_element #delete_btn{
    background-color: #5e5e5e;
    border-radius: 10px;
    padding: 3px;
}
#class_element #hidden_element #under_line {
    border: 2px solid gray;
}
#class_list #no_record,
#class_element #hidden_element #no_record {
    font-size: 16px;
    font-weight: bold;
    color: white;
    font-family: Arial;
}
#class_element #hidden_element #cls_file_name {
    color: white;
    font-size: 16px;
    padding: 5px;
    font-family: Arial;
    background-color: transparent;
}
#class_element #hidden_element #cls_file_name:hover{
    background-color: #4a4a4a;
}

#classNsec_body #add_class_form,
#classNsec_body #attendance_sheet_preview{
    background-color: #262828;
    border: 1px solid gray;
    border-radius: 10px;
}

#classNsec_body #attendance_sheet_preview #lbl_no_sheet_preview{
    color: white;
}
#classNsec_body #attendance_sheet_preview #lbl_no_sheet_selected{
    font-size: 18px;
    color: white;
}
#classNsec_body #attendance_sheet_preview #close_preview_btn{
    font-size: 16px;
    padding: 5px;
    background-color: #ee5868;
    color: white;
    border-radius: 4px;
}

#classNsec_body #attendance_sheet_preview #table_{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid gray;
    border: 0;
    font-size: 16px;
    font-weight: 500;
}
#classNsec_body #attendance_sheet_preview #table_::item{
    color: white;
    border-bottom: 1px solid gray;
    border-right: none;
    border-left: none;
    border-top: none;
}
#classNsec_body #attendance_sheet_preview #table_::item:selected{
    background-color: #525252;
}
#classNsec_body #attendance_sheet_preview #table_ QHeaderView {
    background-color: transparent;
}
#classNsec_body #attendance_sheet_preview #table_ QHeaderView::section:first {
    border-top-left-radius: 10px;
    border-left: 1px solid transparent;
}
#classNsec_body #attendance_sheet_preview #table_ QHeaderView::section:last {
    border-top-right-radius: 10px;
    border-right: 1px solid transparent;
}
#classNsec_body #attendance_sheet_preview #table_ QHeaderView::section {
    border: 1px solid transparent;
    border-right: 1px solid gray;
    background-color: #3b2e23;
    color: white;
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#classNsec_body #attendance_sheet_preview #table_ QHeaderView::up-arrow {
    image: url(icons/arrow_drop_down.svg);
    subcontrol-position: right center;
    subcontrol-origin: padding;
    padding-right: 6px;
    width: 20px;
    height: 20px;
}
#classNsec_body #attendance_sheet_preview #table_ QHeaderView::down-arrow {
    image: url(icons/arrow_drop_up.svg);
    subcontrol-position: right center;
    subcontrol-origin: padding;
    padding-right: 6px;
    width: 20px;
    height: 20px;
}

#classNsec_body #add_class_form #add_class_lbl {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: white;
}
#classNsec_body #add_class_form #entry {
    font-size: 16px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    margin-left: 15px;
}
#classNsec_body #add_class_form #entry:focus {
    border: 1px solid #32b8c6;
}

#classNsec_body #add_class_form #add_cls_btn {
    background-color: #32b8c6;
    font-size: 16px;
    color: #13343b;
    border: 0px;
    border-radius: 8px;
    padding: 10px;
}
#classNsec_body #add_class_form #add_cls_btn:hover {
    background-color: #2da6b2;
}
#classNsec_body #add_class_form #add_cls_btn:pressed {
    border: 1px solid cyan;
}